{% extends 'User/base.html' %}

{% block title %}
Register
{% endblock title %}

{% block content %}
<div class="container">
    <section class="card-panel">
        {% load static %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn blue white-text">Register</button>
            <h5 class="flow-text">Already have an account? <a href="{% url 'User:login' %}">Login</a></h5>
        </form>
    </section>
</div>
{% endblock content %}